{
  "printWidth": 140,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "xmlWhitespaceSensitivity": "ignore",
  "xmlSelfClosingSpace": false,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.svg"],
      "options": {
        "parser": "xml"
      }
    }
  ]
}